<div class="text-center">
<h1>Torneo Apertura Torneo Sintetico</h1>
<p>en las canchas</p>
<h1>Canchas Torneo Sintetico</h1>
</div>
<tr>
<td><%= button_to "Inscribete", players_path(Player),:method => "get" %></td>
</tr>